html,
body {
    height: 100%;
    overflow-x: scroll;
}

.main {
    display: flex;
}

.main__info {
    /* background-color: rgb(127, 176, 219); */
    height: 55vh;
    position: sticky;
    top: 34%;
}

#logout__google {
    height: 5.2vh;
    margin-top: 1vh;
    padding: 5px;
    background-color: #e9634b;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 3px 0px #ecd3d3;
    width: 8vw;
    font-weight: 400;
    font-size: 13px;
    margin-left: 13%;
    outline: #e9634b;
    border-radius: 10px;
}

#logout__google>img {
    height: 100%;
    margin-right: 1vh;
    border-radius: 20%;
}

#logout__google:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 3px 0px #ecd3d3;
}

.home {
    margin-top: 5vh;
    /* width: 100%; */
    /* background-color: rgb(169, 169, 228); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home_Alert {
    position: absolute;
    z-index: 10;
}

.home_modal {
    height: 45vh;
    background-color: #aabfbe;
    width: 28%;
    margin: 2vh 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 27vh;
    left: 97vh;
}

.home_modal>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_modal label {
    font-size: 19px;
    font-weight: 500;
}

.noteDisplay {
    /* height: 45%; */
    min-height: 90%;
    /* background-color: rgb(245, 228, 228); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}

.main__info>.card {
    width: 18rem;
    margin-left: 3vh;
    margin-top: 3vh;
    /* background-color: #dddca4; */
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #a6dfb9 0%, #01baef 74%);
}

.main__info>.card>img {
    border-radius: 50%;
    width: 44%;
    margin: 10px auto;
    height: 21vh;
}

.uppercase {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

@media(min-width:320px) and (max-width:575px) {
    .noteDisplay {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        /* border: 2px solid black; */
        width: 100%;
        margin: 3vh auto;
        min-height: 35vh;
        place-items: center;
        overflow-x: hidden;
        background-image: none;
    }
    .home_modal {
        min-height: 47vh;
        width: 82%;
        top: 26vh;
        left: 11vw;
    }
    .home {
        /* background: red; */
        height: 77vh;
        margin-top: 9vh;
    }
    .main {
        flex-direction: column;
    }
    .main__info>.card {
        width: 73vw;
        font-size: 14px;
        display: block;
        margin-top: 9vh;
        background-color: #eadeb1;
        display: block;
        margin: 10vh auto;
    }
    .main__info {
        /* background-color: rgb(127, 176, 219); */
        height: 52vh;
        display: block;
        width: 100%;
        position: relative;
    }
    .totalpage {
        height: 25vh;
    }
    #empty {
        width: 93% !important;
        margin-left: 1vh !important;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .noteDisplay {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .home_modal {
        width: 60%;
    }
}

@media(min-width:769px) and (max-width:1400px) {
    .noteDisplay {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .home {
        padding-left: 42px;
    }
}